.header-container {
  // width: 100vw;
  height: 6vh;
  min-height: 40px;
  font-size: 14px;
  background-color: #cd3e3e;
  z-index: 1;

  img {
    // margin-bottom: 0.3vh;
    height: 40px;
    // height: 5.2vmin;
    // max-height: 168%;
    // min-height: 79%;
  }

  .header-text {
    line-height: 16px;
  }

  .settings-icon {
    background-color: #b90000;
  }

  .settings-button {
    height: 100%;
    width: 50px;
  }
}

@media (max-width: 450px) {
  .header-text {
    font-size: 13px;
  }

  .name-text {
    font-size: 10px;
  }
}

@media (max-width: 350px) {
  .header-text {
    font-size: 11px;
  }
}
