<footer>
  <div class="row ml-0 mr-0 mt-2 justify-content-center">
    <div class="col-auto d-flex align-items-center">
      <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/">
        <i class="fab fa-facebook social-media-icons pointer"></i>
      </a>
    </div>
    <div class="col-auto d-flex align-items-center">
      <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/">
        <i class="fab fa-instagram social-media-icons pointer"></i>
      </a>
    </div>
    <div class="col-auto d-flex align-items-center">
      <a target="_blank" rel="noopener noreferrer" href="https://www.twitter.com/">
        <i class="fab fa-twitter social-media-icons pointer"></i>
      </a>
    </div>
  </div>
  <div class="row m-0 my-2">
    <div class="col pr-0 pl-5 d-flex justify-content-center align-items-center">
      <div class="copyright-text ml-5"><span class="fs-18px">©</span> NBU Medical Service 2022-2023</div>
    </div>
    <div class="col-auto d-flex justify-content-center align-items-center">
      <div class="privacy-text">
        <a target="_blank" rel="noopener noreferrer"
          href="https://www.privacypolicygenerator.info/live.php?token=DWb0dPf2lrfIEp7gu9TX9HvDAkWm53DA">
          Privacy Policy
        </a>
      </div>
    </div>
  </div>
</footer>