<div class="row justify-content-center no-gutters h-100 w-100">
  <div class="col-12 col-xl-5">
    <div class="row h-100 m-0 justify-content-center align-items-center">
      <div class="col mb-4">
        <mat-card class="text-center">
          <mat-card-title>
            <div class="d-flex justify-content-center unselectable mb-4">
              <img class="medical-logo" src="../../assets/logo/orange_logo_transparent.png" alt="NBU Medical Service Logo">
            </div>
            <div class="fs-48 main-title-text mb-3">
              Profile
            </div>
            <div class="fs-16 under-main-text sm-spaced-text mb-5">
              User details
            </div>
          </mat-card-title>
          <mat-card-content *ngIf="role === 'PATIENT'">
            <div class="mb-3 fs-16">
              Patient's name: {{ name }}
            </div>
            <div class="mb-3 fs-16">
              Patient's Unique Citizen Number: {{ uniqueCitizenNumber }}
            </div>
            <div class="mb-3 fs-16">
              Patient's GP: {{ gpName }}
            </div>
            <div class="mb-3 fs-18 font-weight-bolder">
              <div *ngIf="healthTaxesArePaid">
                Health taxes are paid until: {{ healthTaxesPaidUntil | date }}
              </div>
              <div style="color: red;" *ngIf="!healthTaxesArePaid">
                Health taxes aren't paid for the past 6 months! Please pay them to use our services!
              </div>
            </div>
            <mat-form-field class="mb-3">
              <mat-label>Choose a date</mat-label>
              <input matInput [(ngModel)]="selectedDate" [min]="minDate" [matDatepicker]="picker">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div>
              <button mat-raised-button class="red-nbu-button white-color" (click)="payHealthTaxes()">Pay health taxes</button>
            </div>
          </mat-card-content>
          <mat-card-content *ngIf="role === 'DOCTOR'">
            <div class="mb-3 fs-16">
              Doctor's name: {{ name }}
            </div>
            <div class="mb-3 fs-16">
              Doctor's Unique Doctor Number: {{ uniqueDoctorNumber }}
            </div>
            <div *ngIf="doctorSpecializations" class="mb-3 fs-16">
              {{ doctorSpecializations.length == 1 ? 'Specialization: ' : doctorSpecializations.length > 1 ? 'Specializations: ' : '' }}
              <span *ngFor="let specialization of doctorSpecializations; let last = last">
                {{ Specialization[specialization] }}{{ !last ? ', ' : '' }}
              </span>
            </div>
            <div class="mb-3 fs-16">
              Number of patients assigned to you: {{ numberOfDoctorPatients }}
            </div>
            <div class="mb-3 fs-16">
              Number of visits: {{ numberOfDoctorVisits }}
            </div>
            <mat-form-field>
              <mat-label>Specializations</mat-label>
              <mat-select [(ngModel)]="selectedSpecializations" multiple>
                <mat-select-trigger>
                  {{Specialization[selectedSpecializations?.[0]] || ''}}
                  <span *ngIf="(selectedSpecializations?.length || 0) > 1">
                    (+{{(selectedSpecializations?.length || 0) - 1}} {{selectedSpecializations?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let specialization of allSpecializations" [value]="specialization">{{Specialization[specialization]}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <button mat-raised-button class="red-nbu-button white-color" (click)="saveSpecializations()">Save Specializations</button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>