<!-- WELCOME TEXT -->
<div class="row justify-content-center align-items-center mb-5">
  <div class="fs-32 text-center">
    Welcome to NBU Medical Service!
  </div>
</div>

<!-- CAROUSEL -->
<div class="row justify-content-center">
  <div class="carousel-width">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-block carousel-custom-img first"></div>
          <div class="carousel-caption">
            <div class="caption-title">NBU Medical Service</div>
            <div class="caption-text">Makes your life easier!</div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-block carousel-custom-img second"></div>
          <div class="carousel-caption">
            <div class="caption-title">Schedule Visits</div>
            <div class="caption-text">From the comfort of your home!</div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-block carousel-custom-img third"></div>
          <div class="carousel-caption">
            <div class="caption-title">Contacts</div>
            <div class="caption-text">Contact the doctors of your interest!</div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>